@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import "./Button.scss";
@import "./Opponent.scss";

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #031321;
}

.player-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.opponent-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  margin: 40px;
}

.opponent {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-image: url("./img/hand.png");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2196f3;
  border-radius: 500px;
  background-color: #2196f3;
  filter: drop-shadow(0px 0px 10px rgb(99, 4, 189));
  z-index: 1;
}

.reminder {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.76);
  font-family: "VT323", monospace;
  font-size: 2em;
}

.results {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.76);
  font-family: "VT323", monospace;
  font-size: 2em;
}

.results p {
  display: inline-block;
  margin: 20px;
}
