.opponent {
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-image: url("./img/hand.png");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2196f3;
  border-radius: 500px;
  background-color: #2196f3;
  filter: drop-shadow(0px 0px 10px #6304bd); }

.opponent-card {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-image: url("./img/hand.png");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2196f3;
  border-radius: 500px;
  background-color: #2196f3;
  filter: drop-shadow(0px 0px 10px #6304bd);
  z-index: 1; }

.opponent-card-2 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("./img/hand-rock.png");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2196f3;
  border-radius: 500px;
  background-color: #2196f3;
  filter: drop-shadow(0px 0px 10px #6304bd);
  z-index: 3; }

.opponent-card-3 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("./img/hand-scissor.png");
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2196f3;
  border-radius: 500px;
  background-color: #2196f3;
  filter: drop-shadow(0px 0px 10px #6304bd);
  z-index: 2; }

.opponent-card-animated {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #2196f3;
  border-radius: 500px;
  background-color: #2196f3;
  filter: drop-shadow(0px 0px 10px #6304bd);
  transition: transform 3s ease; }

.opponent-card-animated:nth-child(1) {
  transform: rotateY(-360deg);
  background-image: url("./img/hand.png"); }
